In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Фильмы из топ-250, сериалы тоже вроде как
films_headers = ['movie_id', 'title', 'imdb_score', 'release_year', 'duration_minutes', 'movie_type_id', 'description']
# Фильм-жанр
films_genre_headers = ['genre_id', 'movie_id']
# Съемочная группа
films_cast_headers = ['person_id', 'movie_id', 'role_id']
# Люди, замеченные в фильмах
films_person_headers = ['person_id', 'name']

In [3]:
data = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\films.csv', names=films_headers)
data.head()

,movie_id,title,imdb_score,release_year,duration_minutes,movie_type_id,description
0,111161,The Shawshank Redemption,9.3,1994,142,0,Two imprisoned men bond over a number of years...
1,68646,The Godfather,9.2,1972,175,0,The aging patriarch of an organized crime dyna...
2,468569,The Dark Knight,9.0,2008,152,0,When the menace known as the Joker wreaks havo...
3,71562,The Godfather Part II,9.0,1974,202,0,The early life and career of Vito Corleone in ...
4,50083,12 Angry Men,9.0,1957,96,0,The jury in a New York City murder trial is fr...

In [4]:
connection = sqlite3.connect("kino.sqlite")
cursor = connection.cursor()

### Заполнение таблиц из словарей

In [5]:
genre_id = dict({
    'Action': 0,
    'Adventure': 1,
    'Animation': 2,
    'Biography': 3,
    'Comedy': 4,
    'Crime': 5,
    'Documentary': 6,
    'Drama': 7,
    'Family': 8,
    'Fantasy': 9,
    'Film-Noir': 10,
    'History': 11,
    'Horror': 12,
    'Music': 13,
    'Musical': 14,
    'Mystery': 15,
    'Romance': 16,
    'Sci-Fi': 17,
    'Short': 18,
    'Sport': 19,
    'Superhero': 20,
    'Thriller': 21,
    'War': 22,
    'Western': 23,
    'Talk-Show': 24,
    'Reality-TV': 25,
    'News': 26,
    'Game-Show': 27
})

crew_id = dict({
    'Creators': 0,
    'Stars': 1,
    'Directors': 2,
    'Writers': 3,
})

movie_type_id = dict({
    'Movie': 0,
    'TV Series': 1,
    'TV Mini Series': 2,
})

user_status_id = dict({
    'Completed': 0,
    'Watching': 1,
    'Plan to Watch': 2,
    'Dropped': 3,
})

In [6]:
# Заполнение жанров
# for g_name, g_id in genre_id.items():
#     sql_insert = f"INSERT INTO genre (genre_name, genre_id) VALUES ('{g_name}', {g_id})"
#     cursor.execute(sql_insert)
# connection.commit()

In [7]:
# Заполнение ролей
# for cr_name, cr_id in crew_id.items():
#     sql_insert = f"INSERT INTO crew_role (crew_role_name, crew_role_id) VALUES ('{cr_name}', {cr_id})"
#     cursor.execute(sql_insert)
# connection.commit()

In [8]:
# # Заполнение типов фильмов
# for mt_name, mt_id in movie_type_id.items():
#     sql_insert = f"INSERT INTO movie_type (movie_type_name, movie_type_id) VALUES ('{mt_name}', {mt_id})"
#     cursor.execute(sql_insert)
# connection.commit()

In [9]:
# Статусы пользователя
# for us_name, us_id in user_status_id.items():
#     sql_insert = f"INSERT INTO user_status (status_name, status_id) VALUES ('{us_name}', {us_id})"
#     cursor.execute(sql_insert)
# connection.commit()

### Заполнение таблиц о фильмах

In [6]:
# Начинаем заполнять с людей, объединяя фильмы и сериалы. Для людей нужно выкинуть дубликаты в pandas
persons_film = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\films_person.csv', names=films_person_headers)
print(persons_film.count()[0])
persons_tv = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\tv_shows_person.csv', names=films_person_headers)
print(persons_tv.count()[0])

1585
982

In [7]:
new_df = pd.concat([persons_film, persons_tv])
new_df.count()[0]

2567

In [8]:
new_df = new_df.drop_duplicates()
new_df.count()[0]

1875

In [43]:
new_df.head()

   person_id            name
0       1104  Frank Darabont
1        175    Stephen King
3        209     Tim Robbins
4        151  Morgan Freeman
5     348409      Bob Gunton

In [ ]:
# Загрузка людей
# for tup in new_df.itertuples():
#     name_single_quote = tup.name.replace('\'', '\'\'')
#     sql_insert = f"INSERT OR REPLACE INTO person (person_id, person_name) VALUES ({tup.person_id}, '{name_single_quote}')"
#     cursor.execute(sql_insert)
# connection.commit()

In [11]:
# Фильмы
films = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\films.csv', names=films_headers)
print(films.count()[0])
tv = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\tv_shows.csv', names=films_headers)
print(tv.count()[0])

250
250

In [ ]:
new_df = pd.concat([films, tv])
print(new_df.count()[0])
new_df = new_df.drop_duplicates()
print(new_df.count()[0])

In [14]:
new_df.head()

,movie_id,title,imdb_score,release_year,duration_minutes,movie_type_id,description
0,111161,The Shawshank Redemption,9.3,1994,142,0,Two imprisoned men bond over a number of years...
1,68646,The Godfather,9.2,1972,175,0,The aging patriarch of an organized crime dyna...
2,468569,The Dark Knight,9.0,2008,152,0,When the menace known as the Joker wreaks havo...
3,71562,The Godfather Part II,9.0,1974,202,0,The early life and career of Vito Corleone in ...
4,50083,12 Angry Men,9.0,1957,96,0,The jury in a New York City murder trial is fr...

In [20]:
# Загрузка фильмов
# for tup in new_df.itertuples():
#     name_single_quote = tup.title.replace('\'', '\'\'')
#     description_single_quote = tup.description.replace('\'', '\'\'')
#     sql_insert = f"INSERT INTO " \
#                  f"movie (movie_id, movie_name, movie_release_year, movie_duration_minutes, movie_description, movie_type_id) VALUES ({tup.movie_id}, '{name_single_quote}', {tup.release_year}, {tup.duration_minutes}, '{description_single_quote}', {tup.movie_type_id})"
#     cursor.execute(sql_insert)
# connection.commit()

In [21]:
# Жанры фильмов
genres_film = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\films_genre.csv', names=films_genre_headers)
print(genres_film.count()[0])
genres_tv = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\tv_shows_genre.csv', names=films_genre_headers)
print(genres_tv.count()[0])

627
594

In [23]:
new_df = pd.concat([genres_film, genres_tv])
print(new_df.count()[0])

1221

In [24]:
new_df.head()

   genre_id  movie_id
0         7    111161
1         5     68646
2         7     68646
3         0    468569
4         5    468569

In [25]:
# Загрузка жанров фильмов
# for tup in new_df.itertuples():
#     sql_insert = f"INSERT INTO movie_genre (genre_id, movie_id) VALUES ({tup.genre_id}, {tup.movie_id})"
#     cursor.execute(sql_insert)
# connection.commit()

In [26]:
# Члены съемочных групп фильмов
cast_film = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\films_cast.csv', names=films_cast_headers)
print(cast_film.count()[0])
cast_tv = pd.read_csv('D:\CodeJB\Python\wop\DataCSV\\tv_shows_cast.csv', names=films_cast_headers)
print(cast_tv.count()[0])

1585
982

In [28]:
new_df = pd.concat([cast_film, cast_tv])
print(new_df.count()[0])

2567

In [29]:
new_df.head()

   person_id  movie_id  role_id
0       1104    111161        2
1        175    111161        3
2       1104    111161        3
3        209    111161        1
4        151    111161        1

In [32]:
# Загрузка съемочных групп
for tup in new_df.itertuples():
    sql_insert = f"INSERT OR REPLACE INTO crew_member (person_id, movie_id, crew_role_id) VALUES ({tup.person_id}, {tup.movie_id}, {tup.role_id})"
    cursor.execute(sql_insert)
connection.commit()